/* ========== Global Layout ========== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  padding-bottom: 80px;
}

/* ========== Header ========== */
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #0077b6;
  color: white;
  padding: 20px 30px;
}

.header-align{
   display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left,
.header-right {
  flex: 1;
}

.header-left a,
.header-right a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-center {
  flex: 2;
  text-align: center;
}

.header-center h1 {
  margin: 0;
  font-size: 28px;
  color: white;
}

.header-center p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #dff6ff;
}

/* ========== Search Box ========== */
.search-box {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

.search-box input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  outline: none;
}

.search-box button {
  padding: 10px 15px;
  border: 1px solid #023e8a;
  background-color: #023e8a;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-weight: bold;
}

.search-box button:hover {
  background-color: #005fa3;
}

/* ========== Main Section ========== */
.main-section {
  padding: 20px;
}

.banner-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}

/* ========== Feature Boxes ========== */
.feature-box {
  background-color: #e0f7fa;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

.feature-box a,
.feature-box button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #0077b6;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ========== Contact Section ========== */
.contact-section {
  background-color: #ffffff;
  border-top: 2px solid #0077b6;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

form input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

textarea {
  resize: vertical;
}

form button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* ========== Footer ========== */
.footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
